<div>
    <h3 >{{lieux['']['lieu'].id}}</h3>
    <h3 >{{lieux['']['lieu'].coord_x}}</h3>
    <h3 >{{lieux['']['lieu'].coord_y}}</h3>
    <h3 >{{lieux['']['lieu'].description}}</h3>
    <h3 >{{lieux['']['lieu'].image}}</h3>
    <h3 >{{lieux['']['lieu'].indication}}</h3>
    <h3 >{{lieux['']['lieu'].indice1}}</h3>
    <h3 >{{lieux['']['lieu'].indice2}}</h3>
    <h3 >{{lieux['']['lieu'].indice3}}</h3>
    <h3 >{{lieux['']['lieu'].indice4}}</h3>
    <h3 >{{lieux['']['lieu'].indice5}}</h3>
    <h3 >{{lieux->lieu.indice5}}</h3>
</div>